{% extends "layouts/main.html" %} {% block pageTitle %} National Insurance
number – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">Confirm withdrawal</h1>
  <div class="govuk-grid-column-two-thirds">
    <p>No communication will automatically be sent to Jane Doe</p>
    <br />
    <form action="/confirm-decision" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and close
      </button>
    </form>
  </div>
</div>

{% endblock %}
