{% extends "layouts/main.html" %} {% block pageTitle %} National Insurance
number – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    Which team have you contacted for further information?
  </h1>
  <div class="govuk-grid-column-two-thirds">
    <form
      class="form"
      action="/further-information-team-decision"
      method="post"
    >
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="team-selected"
                name="team-selected"
                type="radio"
                value="asylum"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="team-selected"
              >
                Asylum
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="team-selected-2"
                name="team-selected"
                type="radio"
                value="in-country"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="team-selected-2"
              >
                In Country
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="team-selected-3"
                name="team-selected"
                type="radio"
                value="out-of-country"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="team-selected-3"
              >
                Out of Country
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="team-selected-3"
                name="team-selected"
                type="radio"
                value="digital"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="team-selected-3"
              >
                Digital
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Next</button>
    </form>
  </div>
</div>

{% endblock %}
