{% extends "layouts/main.html" %} {% block pageTitle %} National Insurance
number – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    Which team have you contacted for further information?
  </h1>
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/further-information-decision" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="information-requested"
                name="information-requested"
                type="radio"
                value="placeholder"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="information-requested"
              >
                placeholder
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="information-requested-2"
                name="information-requested"
                type="radio"
                value="placeholder"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="information-requested-2"
              >
                placeholder
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="information-requested-3"
                name="information-requested"
                type="radio"
                value="placeholder"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="information-requested-3"
              >
                placeholder
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="information-requested-3"
                name="information-requested"
                type="radio"
                value="placeholder"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="information-requested-3"
              >
                placeholder
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Next</button>
    </form>
  </div>
</div>

{% endblock %}
