{% extends "layouts/main.html" %} {% block pageTitle %} National Insurance
number – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Confirm postponement for refugee</h1>
    <p>
      You were unable to confirm that a National Insurance number should be
      traced or allocated as a potential trace has been found.
    </p>
    <br />
    <p>You will contact the Home Office for further information</p>
    <form action="/confirm-decision" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and close
      </button>
    </form>
  </div>
</div>

{% endblock %}
